Prepare data for further analysis

In [6]:
import pandas as pd

# Read the Excel file into a DataFrame
df = pd.read_excel('Annotation Task Experiment_  ReproHum project  (Responses).xlsx')  # Replace with your actual file path

# Get the column names
columns = df.columns

# Split the columns into chunks of size 7
column_chunks = [columns[i:i+7] for i in range(4, len(columns), 7)]

# Create separate DataFrames for each chunk
result_dfs = []
for i, chunk in enumerate(column_chunks):
   # print(column_chunks)
    chunk_df = df[chunk]
    result_dfs.append(chunk_df)
    # Optionally, you can save each chunk to a separate file
    chunk_df.to_excel(f'chunk_{i+1}.xlsx', index=False)

# Display the resulting DataFrames
for i, result_df in enumerate(result_dfs):
    print(f"\nDataFrame {i+1}:\n{result_df}")

DataFrame 1:
   Informativeness  Informativeness.1  Informativeness.2  Informativeness.3  \
0                1                  3                  1                  2
1                3                  1                  3                  4
2                1                  1                  2                  2
3                2                  3                  3                  3

   Informativeness.4  Informativeness.5  Informativeness.6
0                  1                  1                  3
1                  3                  4                  2
2                  3                  3                  2
3                  2                  4                  3

DataFrame 2:
   Informativeness.7  Informativeness.8  Informativeness.9  \
0                  4                  3                  1
1                  4                  3                  2
2                  3                  1                  2
3                  3                  2                  2

   Informativeness.10  Informativeness.11  Informativeness.12  \
0                   2                   1                   4
1                   1                   1                   4
2                   1                   1                   3
3                   1                   3                   4

   Informativeness.13
0                   1
1                   1
2                   1
3                   2

DataFrame 3:
   Informativeness.14  Informativeness.15  Informativeness.16  \
0                   3                   2                   3
1                   3                   2                   3
2                   2                   1                   2
3                   4                   3                   4

   Informativeness.17  Informativeness.18  Informativeness.19  \
0                   2                   2                   1
1                   2                   3                   1
2                   2                   3                   1
3                   2                   4                   1

   Informativeness.20
0                   2
1                   3
2                   3
3                   4

DataFrame 4:
   Informativeness.21  Informativeness.22  Informativeness.23  \
0                   3                   1                   1
1                   2                   2                   3
2                   2                   3                   2
3                   2                   2                   2

   Informativeness.24  Informativeness.25  Informativeness.26  \
0                   3                   4                   1
1                   3                   4                   3
2                   2                   3                   2
3                   2                   4                   2

   Informativeness.27
0                   2
1                   3
2                   3
3                   2

DataFrame 5:
   Informativeness.28  Informativeness.29  Informativeness.30  \
0                   1                   3                   2
1                   2                   2                   3
2                   3                   3                   2
3                   2                   2                   2

   Informativeness.31  Informativeness.32  Informativeness.33  \
0                   1                   1                   2
1                   3                   4                   2
2                   2                   3                   3
3                   2                   3                   3

   Informativeness.34
0                   3
1                   4
2                   2
3                   2

DataFrame 6:
   Informativeness.35  Informativeness.36  Informativeness.37  \
0                   3                   1                   2
1                   2                   1                   2
2                   3                   3                   3
3                   3                   1                   1

   Informativeness.38  Informativeness.39  Informativeness.40  \
0                   3                   3                   2
1                   3                   4                   2
2                   2                   3                   2
3                   4                   4                   4

   Informativeness.41
0                   3
1                   3
2                   3
3                   3

DataFrame 7:
   Informativeness.42  Informativeness.43  Informativeness.44  \
0                   1                   2                   1
1                   2                   3                   2
2                   3                   4                   3
3                   3                   3                   3

   Informativeness.45  Informativeness.46  Informativeness.47  \
0                   1                   3                   1
1                   1                   4                   3
2                   3                   3                   3
3                   3                   4                   1

   Informativeness.48
0                   1
1                   4
2                   3
3                   2

DataFrame 8:
   Informativeness.49  Informativeness.50  Informativeness.51  \
0                   2                   2                   1
1                   3                   2                   2
2                   3                   2                   2
3                   3                   4                   2

   Informativeness.52  Informativeness.53  Informativeness.54  \
0                   2                   2                   1
1                   2                   4                   1
2                   2                   3                   3
3                   3                   5                   1

   Informativeness.55
0                   1
1                   4
2                   3
3                   3

DataFrame 9:
   Informativeness.56  Informativeness.57  Informativeness.58  \
0                   1                   2                   3
1                   1                   2                   1
2                   2                   3                   3
3                   2                   2                   3

   Informativeness.59  Informativeness.60  Informativeness.61  \
0                   2                   1                   2
1                   2                   3                   2
2                   2                   3                   2
3                   1                   4                   3

   Informativeness.62
0                   3
1                   2
2                   3
3                   2

DataFrame 10:
   Informativeness.63  Informativeness.64  Informativeness.65  \
0                   2                   2                   2
1                   1                   1                   2
2                   3                   3                   3
3                   3                   1                   2

   Informativeness.66  Informativeness.67
0                   2                   3
1                   1                   3
2                   3                   4
3                   3                   4

In [ ]:
result_dfs1 = []
result_dfs2 = []
# Assuming column_chunks is a list of Excel file paths
column_chunks = ['chunk_1.xlsx', 'chunk_2.xlsx','chunk_3.xlsx', 'chunk_4.xlsx','chunk_5.xlsx', 'chunk_6.xlsx','chunk_7.xlsx','chunk_8.xlsx', 'chunk_9.xlsx','chunk_10.xlsx']
for i, chunk_path in enumerate(column_chunks):
    # Load each chunk from Excel file
    chunk_df = pd.read_excel(chunk_path)


    # Rename columns as 'summary1', 'summary2', ..., 'summary7' till the end
    new_columns = [f'model{i}' for i in range(len(chunk_df.columns))]
    chunk_df.columns = new_columns
    #print(chunk_df.columns)
    # Optionally, you can save each chunk to a separate file with renamed columns
    chunk_df.to_excel(f'chunk_{i+1}_renamed.xlsx', index=False)

    result_dfs1.append(chunk_df)

In [ ]:
column_chunks = ['chunk_1_renamed.xlsx', 'chunk_2_renamed.xlsx', 'chunk_3_renamed.xlsx', 'chunk_4_renamed.xlsx', 'chunk_5_renamed.xlsx', 'chunk_6_renamed.xlsx', 'chunk_7_renamed.xlsx', 'chunk_8_renamed.xlsx', 'chunk_9_renamed.xlsx','chunk_10_renamed.xlsx']
result_dfs2 = []
result_dfs3 = []
for i, chunk_path in enumerate(column_chunks):
    chunk_df = pd.read_excel(chunk_path)


    # Add a 'rater' column based on the index
    chunk_df['rater'] = (chunk_df.index % 4) + 1

    # Melt the DataFrame
    melted_df1 = pd.melt(chunk_df, id_vars='rater', var_name='model', value_name='rating')

    result_dfs3.append(melted_df1)


column_chunks = ['chunk_1_renamed.xlsx', 'chunk_2_renamed.xlsx','chunk_3_renamed.xlsx', 'chunk_4_renamed.xlsx','chunk_5_renamed.xlsx', 'chunk_6_renamed.xlsx','chunk_7_renamed.xlsx','chunk_8_renamed.xlsx', 'chunk_9_renamed.xlsx','chunk_10_renamed.xlsx']
for i, chunk_path in enumerate(column_chunks):
    chunk_df = pd.read_excel(chunk_path)
    print(chunk_path)
    chunk_df["rater"] = chunk_df.index + 1
    melted_df = pd.melt(chunk_df,id_vars='rater', var_name='model', value_name= 'rating')

    # Assuming 'subject' column is the identifier for rows
  #  melted_df['subject'] = melted_df.index

    result_dfs2.append(melted_df)

# Concatenate all melted DataFrames into a single DataFrame
merged_df = pd.concat(result_dfs2, ignore_index=True)
merged_df2 = pd.concat(result_dfs3, ignore_index=True)
# Reset the index to ensure it is unique
merged_df.reset_index(drop=True, inplace=True)

# Create a dictionary to store DataFrames for each model
model_dfs = {}

# Iterate over unique model names
for model_name in set(result_dfs3[1]['model']):
    model_df = pd.concat([df[df['model'] == model_name] for df in result_dfs3], ignore_index=True)
    model_dfs[model_name] = model_df

    # Save the DataFrame to a CSV file
    model_df.to_csv(f"{model_name}_ratings.csv", index=False)

# Display the DataFrames for each model
for model_column, model_df in model_dfs.items():
    print(f"DataFrame for {model_column}:")
    print(model_df)
    # Use dynamic variable names to store the DataFrames
    globals()[f"{model_column}_df"] = model_df

chunk_1_renamed.xlsx
chunk_2_renamed.xlsx
chunk_3_renamed.xlsx
chunk_4_renamed.xlsx
chunk_5_renamed.xlsx
chunk_6_renamed.xlsx
chunk_7_renamed.xlsx
chunk_8_renamed.xlsx
chunk_9_renamed.xlsx
chunk_10_renamed.xlsx
DataFrame for model2:
    rater   model  rating
0       1  model2       1
1       2  model2       3
2       3  model2       2
3       4  model2       3
4       1  model2       1
5       2  model2       2
6       3  model2       2
7       4  model2       2
8       1  model2       3
9       2  model2       3
10      3  model2       2
11      4  model2       4
12      1  model2       1
13      2  model2       3
14      3  model2       2
15      4  model2       2
16      1  model2       2
17      2  model2       3
18      3  model2       2
19      4  model2       2
20      1  model2       2
21      2  model2       2
22      3  model2       3
23      4  model2       1
24      1  model2       1
25      2  model2       2
26      3  model2       3
27      4  model2       3
28      1  model2       1
29      2  model2       2
30      3  model2       2
31      4  model2       2
32      1  model2       3
33      2  model2       1
34      3  model2       3
35      4  model2       3
36      1  model2       2
37      2  model2       2
38      3  model2       3
39      4  model2       2
DataFrame for model6:
    rater   model  rating
0       1  model6       3
1       2  model6       2
2       3  model6       2
3       4  model6       3
4       1  model6       1
5       2  model6       1
6       3  model6       1
7       4  model6       2
8       1  model6       2
9       2  model6       3
10      3  model6       3
11      4  model6       4
12      1  model6       2
13      2  model6       3
14      3  model6       3
15      4  model6       2
16      1  model6       3
17      2  model6       4
18      3  model6       2
19      4  model6       2
20      1  model6       3
21      2  model6       3
22      3  model6       3
23      4  model6       3
24      1  model6       1
25      2  model6       4
26      3  model6       3
27      4  model6       2
28      1  model6       1
29      2  model6       4
30      3  model6       3
31      4  model6       3
32      1  model6       3
33      2  model6       2
34      3  model6       3
35      4  model6       2
DataFrame for model0:
    rater   model  rating
0       1  model0       1
1       2  model0       3
2       3  model0       1
3       4  model0       2
4       1  model0       4
5       2  model0       4
6       3  model0       3
7       4  model0       3
8       1  model0       3
9       2  model0       3
10      3  model0       2
11      4  model0       4
12      1  model0       3
13      2  model0       2
14      3  model0       2
15      4  model0       2
16      1  model0       1
17      2  model0       2
18      3  model0       3
19      4  model0       2
20      1  model0       3
21      2  model0       2
22      3  model0       3
23      4  model0       3
24      1  model0       1
25      2  model0       2
26      3  model0       3
27      4  model0       3
28      1  model0       2
29      2  model0       3
30      3  model0       3
31      4  model0       3
32      1  model0       1
33      2  model0       1
34      3  model0       2
35      4  model0       2
36      1  model0       2
37      2  model0       1
38      3  model0       3
39      4  model0       3
DataFrame for model3:
    rater   model  rating
0       1  model3       2
1       2  model3       4
2       3  model3       2
3       4  model3       3
4       1  model3       2
5       2  model3       1
6       3  model3       1
7       4  model3       1
8       1  model3       2
9       2  model3       2
10      3  model3       2
11      4  model3       2
12      1  model3       3
13      2  model3       3
14      3  model3       2
15      4  model3       2
16      1  model3       1
17      2  model3       3
18      3  model3       2
19      4  model3       2
20      1  model3       3
21      2  model3       3
22      3  model3       2
23      4  model3       4
24      1  model3       1
25      2  model3       1
26      3  model3       3
27      4  model3       3
28      1  model3       2
29      2  model3       2
30      3  model3       2
31      4  model3       3
32      1  model3       2
33      2  model3       2
34      3  model3       2
35      4  model3       1
36      1  model3       2
37      2  model3       1
38      3  model3       3
39      4  model3       3
DataFrame for model1:
    rater   model  rating
0       1  model1       3
1       2  model1       1
2       3  model1       1
3       4  model1       3
4       1  model1       3
5       2  model1       3
6       3  model1       1
7       4  model1       2
8       1  model1       2
9       2  model1       2
10      3  model1       1
11      4  model1       3
12      1  model1       1
13      2  model1       2
14      3  model1       3
15      4  model1       2
16      1  model1       3
17      2  model1       2
18      3  model1       3
19      4  model1       2
20      1  model1       1
21      2  model1       1
22      3  model1       3
23      4  model1       1
24      1  model1       2
25      2  model1       3
26      3  model1       4
27      4  model1       3
28      1  model1       2
29      2  model1       2
30      3  model1       2
31      4  model1       4
32      1  model1       2
33      2  model1       2
34      3  model1       3
35      4  model1       2
36      1  model1       2
37      2  model1       1
38      3  model1       3
39      4  model1       1
DataFrame for model5:
    rater   model  rating
0       1  model5       1
1       2  model5       4
2       3  model5       3
3       4  model5       4
4       1  model5       4
5       2  model5       4
6       3  model5       3
7       4  model5       4
8       1  model5       1
9       2  model5       1
10      3  model5       1
11      4  model5       1
12      1  model5       1
13      2  model5       3
14      3  model5       2
15      4  model5       2
16      1  model5       2
17      2  model5       2
18      3  model5       3
19      4  model5       3
20      1  model5       2
21      2  model5       2
22      3  model5       2
23      4  model5       4
24      1  model5       1
25      2  model5       3
26      3  model5       3
27      4  model5       1
28      1  model5       1
29      2  model5       1
30      3  model5       3
31      4  model5       1
32      1  model5       2
33      2  model5       2
34      3  model5       2
35      4  model5       3
DataFrame for model4:
    rater   model  rating
0       1  model4       1
1       2  model4       3
2       3  model4       3
3       4  model4       2
4       1  model4       1
5       2  model4       1
6       3  model4       1
7       4  model4       3
8       1  model4       2
9       2  model4       3
10      3  model4       3
11      4  model4       4
12      1  model4       4
13      2  model4       4
14      3  model4       3
15      4  model4       4
16      1  model4       1
17      2  model4       4
18      3  model4       3
19      4  model4       3
20      1  model4       3
21      2  model4       4
22      3  model4       3
23      4  model4       4
24      1  model4       3
25      2  model4       4
26      3  model4       3
27      4  model4       4
28      1  model4       2
29      2  model4       4
30      3  model4       3
31      4  model4       5
32      1  model4       1
33      2  model4       3
34      3  model4       3
35      4  model4       4
36      1  model4       3
37      2  model4       3
38      3  model4       4
39      4  model4       4

In [ ]:
import pandas as pd

# List of file paths
column_chunks = ['chunk_1_renamed.xlsx', 'chunk_2_renamed.xlsx', 'chunk_3_renamed.xlsx', 'chunk_4_renamed.xlsx', 'chunk_5_renamed.xlsx', 'chunk_6_renamed.xlsx', 'chunk_7_renamed.xlsx', 'chunk_8_renamed.xlsx', 'chunk_9_renamed.xlsx', 'chunk_10_renamed.xlsx']

result_dfs2 = []
result_dfs3 = []

for i, chunk_path in enumerate(column_chunks):
    chunk_df = pd.read_excel(chunk_path)

    # Add a 'rater' column based on the index
    chunk_df['rater'] = (chunk_df.index % 4) + 1

    # Melt the DataFrame
    melted_df1 = pd.melt(chunk_df, id_vars='rater', var_name='model', value_name='rating')

    result_dfs3.append(melted_df1)

# Concatenate all melted DataFrames into a single DataFrame
merged_df2 = pd.concat(result_dfs3, ignore_index=True)

# Reset the index to ensure it is unique
merged_df2.reset_index(drop=True, inplace=True)

# Create a dictionary to store DataFrames for each model
model_dfs = {}

# Iterate over unique model names
for model_name in set(result_dfs3[1]['model']):
    model_df = pd.concat([df[df['model'] == model_name] for df in result_dfs3], ignore_index=True)
    model_dfs[model_name] = model_df

    # Save the DataFrame to a CSV file
    model_df.to_csv(f"{model_name}_ratings.csv", index=False)

# Display the DataFrames for each model
for model_column, model_df in model_dfs.items():
    print(f"DataFrame for {model_column}:")
    print(model_df)
    # Use dynamic variable names to store the DataFrames
    globals()[f"{model_column}_df"] = model_df

DataFrame for model2:
    rater   model  rating
0       1  model2       1
1       2  model2       3
2       3  model2       2
3       4  model2       3
4       1  model2       1
5       2  model2       2
6       3  model2       2
7       4  model2       2
8       1  model2       3
9       2  model2       3
10      3  model2       2
11      4  model2       4
12      1  model2       1
13      2  model2       3
14      3  model2       2
15      4  model2       2
16      1  model2       2
17      2  model2       3
18      3  model2       2
19      4  model2       2
20      1  model2       2
21      2  model2       2
22      3  model2       3
23      4  model2       1
24      1  model2       1
25      2  model2       2
26      3  model2       3
27      4  model2       3
28      1  model2       1
29      2  model2       2
30      3  model2       2
31      4  model2       2
32      1  model2       3
33      2  model2       1
34      3  model2       3
35      4  model2       3
36      1  model2       2
37      2  model2       2
38      3  model2       3
39      4  model2       2
DataFrame for model6:
    rater   model  rating
0       1  model6       3
1       2  model6       2
2       3  model6       2
3       4  model6       3
4       1  model6       1
5       2  model6       1
6       3  model6       1
7       4  model6       2
8       1  model6       2
9       2  model6       3
10      3  model6       3
11      4  model6       4
12      1  model6       2
13      2  model6       3
14      3  model6       3
15      4  model6       2
16      1  model6       3
17      2  model6       4
18      3  model6       2
19      4  model6       2
20      1  model6       3
21      2  model6       3
22      3  model6       3
23      4  model6       3
24      1  model6       1
25      2  model6       4
26      3  model6       3
27      4  model6       2
28      1  model6       1
29      2  model6       4
30      3  model6       3
31      4  model6       3
32      1  model6       3
33      2  model6       2
34      3  model6       3
35      4  model6       2
DataFrame for model0:
    rater   model  rating
0       1  model0       1
1       2  model0       3
2       3  model0       1
3       4  model0       2
4       1  model0       4
5       2  model0       4
6       3  model0       3
7       4  model0       3
8       1  model0       3
9       2  model0       3
10      3  model0       2
11      4  model0       4
12      1  model0       3
13      2  model0       2
14      3  model0       2
15      4  model0       2
16      1  model0       1
17      2  model0       2
18      3  model0       3
19      4  model0       2
20      1  model0       3
21      2  model0       2
22      3  model0       3
23      4  model0       3
24      1  model0       1
25      2  model0       2
26      3  model0       3
27      4  model0       3
28      1  model0       2
29      2  model0       3
30      3  model0       3
31      4  model0       3
32      1  model0       1
33      2  model0       1
34      3  model0       2
35      4  model0       2
36      1  model0       2
37      2  model0       1
38      3  model0       3
39      4  model0       3
DataFrame for model3:
    rater   model  rating
0       1  model3       2
1       2  model3       4
2       3  model3       2
3       4  model3       3
4       1  model3       2
5       2  model3       1
6       3  model3       1
7       4  model3       1
8       1  model3       2
9       2  model3       2
10      3  model3       2
11      4  model3       2
12      1  model3       3
13      2  model3       3
14      3  model3       2
15      4  model3       2
16      1  model3       1
17      2  model3       3
18      3  model3       2
19      4  model3       2
20      1  model3       3
21      2  model3       3
22      3  model3       2
23      4  model3       4
24      1  model3       1
25      2  model3       1
26      3  model3       3
27      4  model3       3
28      1  model3       2
29      2  model3       2
30      3  model3       2
31      4  model3       3
32      1  model3       2
33      2  model3       2
34      3  model3       2
35      4  model3       1
36      1  model3       2
37      2  model3       1
38      3  model3       3
39      4  model3       3
DataFrame for model1:
    rater   model  rating
0       1  model1       3
1       2  model1       1
2       3  model1       1
3       4  model1       3
4       1  model1       3
5       2  model1       3
6       3  model1       1
7       4  model1       2
8       1  model1       2
9       2  model1       2
10      3  model1       1
11      4  model1       3
12      1  model1       1
13      2  model1       2
14      3  model1       3
15      4  model1       2
16      1  model1       3
17      2  model1       2
18      3  model1       3
19      4  model1       2
20      1  model1       1
21      2  model1       1
22      3  model1       3
23      4  model1       1
24      1  model1       2
25      2  model1       3
26      3  model1       4
27      4  model1       3
28      1  model1       2
29      2  model1       2
30      3  model1       2
31      4  model1       4
32      1  model1       2
33      2  model1       2
34      3  model1       3
35      4  model1       2
36      1  model1       2
37      2  model1       1
38      3  model1       3
39      4  model1       1
DataFrame for model5:
    rater   model  rating
0       1  model5       1
1       2  model5       4
2       3  model5       3
3       4  model5       4
4       1  model5       4
5       2  model5       4
6       3  model5       3
7       4  model5       4
8       1  model5       1
9       2  model5       1
10      3  model5       1
11      4  model5       1
12      1  model5       1
13      2  model5       3
14      3  model5       2
15      4  model5       2
16      1  model5       2
17      2  model5       2
18      3  model5       3
19      4  model5       3
20      1  model5       2
21      2  model5       2
22      3  model5       2
23      4  model5       4
24      1  model5       1
25      2  model5       3
26      3  model5       3
27      4  model5       1
28      1  model5       1
29      2  model5       1
30      3  model5       3
31      4  model5       1
32      1  model5       2
33      2  model5       2
34      3  model5       2
35      4  model5       3
DataFrame for model4:
    rater   model  rating
0       1  model4       1
1       2  model4       3
2       3  model4       3
3       4  model4       2
4       1  model4       1
5       2  model4       1
6       3  model4       1
7       4  model4       3
8       1  model4       2
9       2  model4       3
10      3  model4       3
11      4  model4       4
12      1  model4       4
13      2  model4       4
14      3  model4       3
15      4  model4       4
16      1  model4       1
17      2  model4       4
18      3  model4       3
19      4  model4       3
20      1  model4       3
21      2  model4       4
22      3  model4       3
23      4  model4       4
24      1  model4       3
25      2  model4       4
26      3  model4       3
27      4  model4       4
28      1  model4       2
29      2  model4       4
30      3  model4       3
31      4  model4       5
32      1  model4       1
33      2  model4       3
34      3  model4       3
35      4  model4       4
36      1  model4       3
37      2  model4       3
38      3  model4       4
39      4  model4       4

In [7]:
import pandas as pd

# List of model names
model_names = ['model0', 'model1', 'model2', 'model3', 'model4', 'model5', 'model6']

# Initialize an empty list to store DataFrames for each model
model_dfs = []

# Loop through each model
for model_column in model_names:
    # Read the CSV file into a DataFrame
    csv_filename = f"{model_column}_ratings.csv"
    model_df = pd.read_csv(csv_filename)

    # Add the model name as a column in the DataFrame
    model_df['Model'] = model_column

    # Append the DataFrame to the list
    model_dfs.append(model_df)

# Concatenate all DataFrames into a single DataFrame
ratings_df = pd.concat(model_dfs, ignore_index=True)

# Calculate the mean, median, and mode ratings for each model
mean_ratings = ratings_df.groupby('Model')['rating'].mean()
median_ratings = ratings_df.groupby('Model')['rating'].median()
mode_ratings = ratings_df.groupby('Model')['rating'].apply(lambda x: x.mode()[0])  # Mode calculation

# Print the mean, median, and mode ratings for all models
print("Mean Ratings for all models:")
print(mean_ratings)
print("\nMedian Ratings for all models:")
print(median_ratings)
print("\nMode Ratings for all models:")
print(mode_ratings)

Mean Ratings for all models:
Model
model0    2.400000
model1    2.175000
model2    2.200000
model3    2.175000
model4    3.000000
model5    2.277778
model6    2.527778
Name: rating, dtype: float64

Median Ratings for all models:
Model
model0    2.5
model1    2.0
model2    2.0
model3    2.0
model4    3.0
model5    2.0
model6    3.0
Name: rating, dtype: float64

Mode Ratings for all models:
Model
model0    3
model1    2
model2    2
model3    2
model4    3
model5    1
model6    3
Name: rating, dtype: int64

Prepate data output for R script

In [9]:
# Select columns from the 4th column onwards
rating_columns = df.columns[4:]
# Assuming 'Name' is the column with annotator names, and 'informativeness1'...'informativeness67' are the rating columns
df_pivot = df.pivot(index=None, columns='Name', values =rating_columns )

# Flatten the multi-level columns
df_pivot.columns = [f"{col[0]}_{col[1]}" for col in df_pivot.columns]

# Reset the index to have a regular DataFrame
df_pivot.reset_index(drop=True, inplace=True)


df_pivot.head()

,Informativeness_Ji Hong,Informativeness_Yiming Zhang,Informativeness_ran zhang,Informativeness_renee Wang,Informativeness.1_Ji Hong,Informativeness.1_Yiming Zhang,Informativeness.1_ran zhang,Informativeness.1_renee Wang,Informativeness.2_Ji Hong,Informativeness.2_Yiming Zhang,...,Informativeness.65_ran zhang,Informativeness.65_renee Wang,Informativeness.66_Ji Hong,Informativeness.66_Yiming Zhang,Informativeness.66_ran zhang,Informativeness.66_renee Wang,Informativeness.67_Ji Hong,Informativeness.67_Yiming Zhang,Informativeness.67_ran zhang,Informativeness.67_renee Wang
0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,3.0
1,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0,NaN,NaN
2,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN
3,NaN,NaN,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,4.0,NaN

In [10]:
# Rename the columns
df_pivot.columns = df_pivot.columns.str.replace('.*Ji.*', 'Ji')
df_pivot.columns = df_pivot.columns.str.replace('.*Yiming.*', 'Yiming')
df_pivot.columns = df_pivot.columns.str.replace('.*Wang.*', 'Wang')
df_pivot.columns = df_pivot.columns.str.replace('.*ran.*', 'Ran')

df_new = pd.concat([df_pivot['Ji'].melt()['value'], df_pivot['Ran'].melt()['value'],df_pivot['Wang'].melt()['value'],df_pivot['Yiming'].melt()['value']], axis=1, keys=['Ji','Ran','Wang','Yiming'])
#df_nea = df_new.fillna(0).astype(int)
df_new.to_csv("raters_results.csv")

<ipython-input-10-3d6fcbd91f8f>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pivot.columns = df_pivot.columns.str.replace('.*Ji.*', 'Ji')
<ipython-input-10-3d6fcbd91f8f>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pivot.columns = df_pivot.columns.str.replace('.*Yiming.*', 'Yiming')
<ipython-input-10-3d6fcbd91f8f>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pivot.columns = df_pivot.columns.str.replace('.*Wang.*', 'Wang')
<ipython-input-10-3d6fcbd91f8f>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pivot.columns = df_pivot.columns.str.replace('.*ran.*', 'Ran')